# =====================
# Build Folders
# =====================
bin/
obj/
out/

# =====================
# Visual Studio / Rider
# =====================
*.user
*.suo
*.userprefs
*.ide.*
.vscode/

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db

# =====================
# NuGet
# =====================
*.nupkg
packages/

# =====================
# Logs
# =====================
*.log

# =====================
# Test results
# =====================
TestResults/
*.trx

# =====================
# Others
# =====================
*.vsix
*.dotCover